server:
  port: 8081

spring:
  application:
    name: ms-equipamentos

  datasource:
    url: jdbc:postgresql://equipmed_db:5432/equipamentos_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
