server:
  port: 8082

spring:
  application:
    name: ms-operacional

  datasource:
    url: jdbc:postgresql://localhost:5432/operacional_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true