server:
  port: 8083

spring:
  application:
    name: ms-transparencia

  data:
    redis:
      host: redis
      port: 6379

  datasource:
    url: jdbc:postgresql://equipmed_db:5432/transparencia_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


app:
  services:
    ms-equipamentos:
      url: http://localhost:8081/api/equipamentos
    ms-operacional:
      url: http://localhost:8082/api/operacional